body{
background-color: #4ebb78;
}

.mainbox {
  width: 400px;
  background-color: #4ebb78;
}

.app-name-label{
  padding: 0px;
  text-align: center;
}

.single-element-centering {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.encrypt-decrypt-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5px;
  /* border: solid red 2px; */
  
}

.encrypt-decrypt-selection>.btn-1 {
  margin-left: 40px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  border: solid white 2px;
  color: white;
}

.encrypt-decrypt-selection>.btn-2 {
  margin-right: 40px;
  background-color: #4ebb78;
  padding: 10px;
  border-radius: 5px;
  border: solid white 2px;
  color: white;
}

.encryption-method-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid white 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px;
}

.text-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.text-collection>#stringBox {
  width: 90%;
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
}

.text-collection>.text-collection-label {
  margin-top: 10px;
  font-size: 1.17em;
  font-weight: bold;

}

.password-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.password-collection>#passwordBox {
  width: 90%;
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
}

.password-collection>.password-collection-label {
  margin-top: 10px;
  font-size: 1.17em;
  font-weight: bold;
}

.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.result-display textarea#encryptedDecryptedData {
  /* percentage and > not working hunt why */
  width: 340px;
  border-radius: 5px;
  border: solid black 2px;
  resize: none;

}

.result-display>.result-display-label {
  margin-top: 25px;
  margin-bottom: 0px;
}

#encryptBtn {
  margin-top: 10px;
}

.copy-button {
  margin-top: 0px;
  border-radius: 5px;
  padding: 3px;
  background-color: #e0e0e0;
}

#encryptDecryptBtn {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  color: white;
}